@charset "UTF-8";
.cursor{
 cursor: pointer;	
}

.modal-dialog {
    width: 90% !important;
}

.div-task{
	margin-left: 10px;
	padding: 20px;
	border: 1px solid #ddd;
	background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}